<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
         <!-- start header code here............... -->
  <div><app-header></app-header></div>
  <!-- end header code here............... -->
  <!-- start leftpanel code here............... -->
  <div><app-left-panel></app-left-panel></div>
 
    
      <div class="content-wrapper">
      
        <div class="content-header">
            
            <div class="col-sm-12">
           <strong> <h2 style="font-style: oblique;">Setup</h2></strong>  
           
            </div>
            <div class="card card-default">
               
                <hr>
                <div class="col-md-12" >
                    <div class="row">
                        <div class="col-md-4" >
                            <h4>General</h4>
                 
                        </div>
                        <div class="col-md-4">
                            <h4>Organization</h4>
                        </div>
                        <div class="col-md-4">
                            <h4>User Access control</h4>
                        </div>
                        <hr>
                        <div class="col-md-4" >
                           
                  <a routerLink="/company-detail" style="cursor: pointer;" onmouseover="this.style.color='blue'"><h6 style="color: black; ">Company Details</h6></a>   
                        </div>
                        <div class="col-md-4">
                            <a routerLink="/user-view" style="cursor: pointer;" onmouseover="this.style.color='blue'"><h6 style="color: black;">Users</h6></a>  <br> 
                            <a routerLink="/employees-info"  style="cursor: pointer;" onmouseover="this.style.color='blue'"><h6 style="color: black;">Employee Profiles</h6></a> <br> 
                            <a routerLink="/department" style="cursor: pointer;" onmouseover="this.style.color='blue'"><h6 style="color: black;">Departments</h6></a> <br>
                            <a routerLink="/designation" style="cursor: pointer;" onmouseover="this.style.color='blue'"><h6 style="color: black;"> Designations </h6></a>  <br> 
                             
                        </div>
                        <div class="col-md-4">
                            <a routerLink="/roles" style="cursor: pointer;" onmouseover="this.style.color='blue'"><h6 style="color: black;">Role</h6></a>   
                        </div>
                    </div>
                </div>  
            </div>
          </div>
        </div>
         
    <!-- start footer code here............... -->
    <div><app-footer></app-footer></div>
    <!-- end footer code here............... -->