


    <div><app-header></app-header></div>
      
    <!-- end header code here............... -->
    <!-- start leftpanel code here............... -->
    <div ><app-left-panel></app-left-panel></div>
    <!-- end leftpanel code here............... -->
    <div class="content-wrapper" style="height: auto;">
    <div class="content-header">

        <div class="container-fluid">

            <div class="row mb-2">

                <div class="col-sm-12">

                    <h1 class="m-0">Department Details</h1>

                </div>

            </div>

        </div>

    </div>

    <!-- /.card-header -->

    <div class="card-body">

        <form method="post" [formGroup]="DepartmentDetails" (ngSubmit)="submitData()">

            <div class="active tab-pane" id="info">

                <div class="card card-default">

                    <div class="card-header">

                        <!-- <div class="form-group row ">

                            <label class="col-md-2">Department Name<span class="text-danger">*</span></label>

                            <div class="col-md-10">
                            <input type="text" (keypress)="keyPressAlphabet($event)" class="form-control col-md-4" id="text" placeholder="Enter Department Name" formControlName="departmentName"[ngClass]="{ 'is-invalid': submitted && f.departmentName.errors }">

                            <div *ngIf="f.departmentName.touched && f.departmentName.invalid"
                            class="invalid-feedback">
                            <div *ngIf="f.departmentName.errors.required"> Department name is
                                required.</div>
                        </div>
          </div>

                        </div> -->

                        <div class="form-group row ">

                            <label class="col-md-2"> Department Name <span class="text-danger">*</span></label>
                            <div class="col-md-4">
                            <!-- <select class="form-select" id="Department" formControlName="departmentName" placeholder="Enter department name" [ngClass]="{ 'is-invalid': submitted && f.departmentName.errors }">

                                <option value="" disabled [selected]="true" >Select Department Name</option>

                                <option value="HR">HR </option>

                                <option value="Product">Product</option>

                                <option value="Sales">Sales </option>

                                <option value="Servies">Servies </option>

                                <option value="Information Technology">Information Technology</option>

                                <option value="Marketing">Marketing</option>

                            </select> -->
<input type="text" class="form-control" formControlName="departmentName" placeholder="Enter department name" [ngClass]="{ 'is-invalid': submitted && f.departmentName.errors }">
                            
                            <div *ngIf="submitted && f.departmentName.errors" class="invalid-feedback">
                                <div *ngIf="f.departmentName.errors.required">Department name is
                                    required.</div>
                            </div>
              
</div>
                        </div>

                        <div class="form-group row ">

                            <label class="col-md-2 ">Mail Alias </label>
                            <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Enter Mail Alias" id="fn" formControlName="MailAlias" [ngClass]="{ 'is-invalid': submitted && f.MailAlias.errors }">
                            <div *ngIf="submitted && f.MailAlias.errors" class="invalid-feedback">
                            <!-- <div *ngIf="f.MailAlias.errors.required"> Email is
                                required.</div> -->
                                <div *ngIf="f.MailAlias.errors?.['pattern']">
                                  Please enter valid email address.
                                </div>
            
                                
                        </div>
                    </div>
                    

                        </div>

                        <div class="form-group row ">

                            <label class="col-md-2 ">Department Lead 
                                <!-- <span class="text-danger">*</span> -->
                            </label>
                            <div class="col-md-4">
                            <select class="form-select" id="Department Lead" formControlName="DepartmentLead" [ngClass]="{ 'is-invalid': submitted && f.DepartmentLead.errors }">

                                <option value="" disabled [selected]="true">Select Department Lead</option>
<option>{{emp_name}}</option>
                                <option *ngFor="let i of allemployeedata">
                                    {{i.first_name}} {{i.last_name}}
                                  </option>

                            </select>

                            <div *ngIf="submitted && f.DepartmentLead.errors" class="invalid-feedback">
                                <div *ngIf="f.DepartmentLead.errors.required"> Department lead is
                                    required.</div>
                            </div>
              </div>

                        </div>

                        <div class="form-group row ">

                            <label class="col-md-2">Parent Department 
                                <!-- <span class="text-danger">*</span> -->
                            </label>
                            <div class="col-md-4">
                            <!-- <select class=" col-md-4 form-select" id="Parent Department" formControlName="ParentDepartment" [ngClass]="{ 'is-invalid': submitted && f.ParentDepartment.errors }"> -->
                                <select class="form-select" formControlName="ParentDepartment"
                                [ngClass]="{ 'is-invalid': submitted && f.ParentDepartment.errors }"
                                id="Parent Department">
                                <option value="" disabled [selected]="true">Select Parent Department</option>
                              
                                <option *ngFor="let i of alldata">
                                    {{i.departmentName}}
                                  </option>

                            </select>

                            
                            <div *ngIf="submitted && f.ParentDepartment.errors" class="invalid-feedback">
                                <div *ngIf="f.ParentDepartment.errors.required">Parent department is
                                    required.</div>
                            </div>
              
</div>
                        </div>

                        <button type="submit" class="btn btn-primary mb-1">Submit</button>
                     
                        
                         <!-- <button  type="submit" class="btn btn-primary ml-2 mb-1" [routerLink]="['/department-details']" (click)="exit()">Submit and New</button> -->
                        <button type="submit" class="btn btn-primary ml-2 mb-1" [routerLink]="['/department/']">Cancel</button>
                            

                    </div>

                </div>

            </div>

            

        </form>

    </div>
</div>

<!-- start footer code here............... -->
<div><app-footer></app-footer></div>
<!-- end footer code here............... -->
