
<div><app-header></app-header></div>

<!-- end header code here............... -->
<!-- start leftpanel code here............... -->
<div><app-left-panel></app-left-panel></div>
<div class="content-wrapper">
    <div class="content-header">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Employee Exit Details</h1>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="row pt-1">
                  <div class="col-md-2">
                    
                      <select class="form-select border-bottom"(change)="searchById($event);">
                          <option value="">Employee Id</option>
                          <option *ngFor="let i of alldata">
                              {{i.Employee_id}}
                          </option>
                      </select></div>
                      <div class="col-md-2">
                      <select class="form-select border-bottom" (change)="searchByName($event);">
                        <option value="">Employee Name</option>
                        <option *ngFor="let i of alldata">
                            {{i.Employee_Name}}
                        </option>
                    </select>
                 
                   
                    <!-- <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Employee Id</button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="slider">
                        <button style="cursor: pointer;" class="border-0 w-100" onclick="openNav()"> Create View </button>
                      </div>
                    </div> -->
                  </div>
                  <div class="col-md-2">
                    <button type="button" style="cursor: pointer;"  (click)="search();" class="btn btn-primary">Search</button>
                  </div>
                  <div class="col-md-12 text-right">
                    <a style="cursor: pointer;" class="btn btn-primary" [routerLink]="['/exit-details']">+ Add Record</a>
                  </div>
                </div>
              </div>
<form method="get" [formGroup]="Addexit">
<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
      <thead>
        <tr >
          <!-- <th>S No.</th> -->
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Interviewer</th>
          <th>Separation date</th>
          <th>Reason for leaving</th>
          <!-- <th>All library books submitted</th> -->
          <th>Exit interview conducted</th> 
          <th>Resignation letter submitted</th>
          <th>All equipments handed in </th>
          <th>Added By</th>
          <th>Added Time</th>
          <th>Modified By</th>
          <th>Modified Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let pp of searchedByNameId||alldata let i=index">
           

          
          <!-- <td>{{i+1}}</td> -->
          <td><a [routerLink]="['/edit-exit-details/'+pp.AddExitDetailsId]">{{pp.Employee_id}}</a></td>
          <td>{{pp.Employee_Name}}</td>
          <td>{{pp.Interviewer}}</td>
          <td>{{pp.Separation_Date}}</td>
          <td>{{pp.Reason_for_Leaving}}</td>
          <!-- <td>{{pp.All_library_books_submitted}}</td> -->
          <td>{{pp.Exit_Interview_conducted}}</td>
          <td>{{pp.Resignation_letter_submitted}}</td>
          <td>{{pp.All_equipments_handed_in}}</td>
          <td>{{pp.added_by}}</td>
          <td>{{pp.added_time | date :'medium'}}</td>
          <td>{{pp.modified_by}}</td>
          <td>{{pp.modified_time | date :'medium'}}</td>
          <td>
            <a style="color: rgb(7, 136, 241)" [routerLink]="['/edit-exit-details/'+pp.AddExitDetailsId]">
              <i class="fas fa-edit"></i>
            </a>
             &nbsp;
            <a ><i class="fas fa-trash" style="color: rgb(7, 136, 241) " (click)="deleteDetails(pp.AddExitDetailsId)"></i>
            </a>
          </td>
        </tr>
        
      </tbody>
    
    </table>
  </div>
  </form>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
</div>
</div>
</div>


<!-- start footer code here............... -->
<div><app-footer></app-footer></div>
<!-- end footer code here............... -->

